.header {
  margin: 55px auto 105px;
  width: 100%;
  max-width: 1440px;
  background: var(--bg-header);
  border-radius: var(--border-radius);
  text-align: center;
}

.title {
  text-transform: lowercase;
  vertical-align: top;
}
