.black {
  color: var(--text-primary);
}

.white {
  color: var(--text-secondary);
}

.red {
  color: var(--text-error);
}

.large,
.medium,
.main {
  line-height: normal;
  font-weight: 400;
}

.large {
  font-size: 96px;
}

.medium {
  font-size: 36px;
}

.main {
  font-size: 24px;
}

@media screen and (max-width: 1024px) {
  .large {
    font-size: 60px;
  }
}

@media screen and (max-width: 360px) {
  .large {
    font-size: 40px;
  }
}
